{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ contentTitle }}{% endblock %}

{% block page_content %}
    <div class="card">
        <div class="card-body">
            {# Wizard Progress Bar #}
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: {{ wizard_progress }}%;" aria-valuenow="{{ wizard_progress }}" aria-valuemin="0" aria-valuemax="100">
                    {{ wizard_progress }}% Complete
                </div>
            </div>

            {# Form Content #}
            {{ form_start(form) }}
            {{ form_widget(form) }}

{#            <div class="d-flex justify-content-between mt-3">#}
{#                {% if form.prev is defined %}#}
{#                    <button type="submit" name="{{ form.prev.vars.full_name }}" class="btn btn-secondary">← Back</button>#}
{#                {% endif %}#}
{#                {% if form.next is defined %}#}
{#                    <button type="submit" name="{{ form.next.vars.full_name }}" class="btn btn-primary">Next →</button>#}
{#                {% endif %}#}
{#            </div>#}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
